torch
torchvision
torchaudio
transformers
accelerate
pandas
tqdm
munch
openai
pathlib
python-dotenv
nvidia_smi
nvidia-ml-py3
sentencepiece
psutil
matplotlib
seaborn
bitsandbytes
statsmodels
openpyxl
einops
convokit
tldextract
krippendorff
nltk
pyyaml
rpy2
scikit-learn
xgboost